<div class="featured-project-outer">
  <div class="container">
    <h2 class="mb-1 text-center">featured project</h2>

    {% for project in projects %}
    {% if project.featured %}
    <div class="featured-project mt-5 mb-5">
      <div class="featured-first-col">
        <span class="post-image-rounded"
          ><a href=""
            ><img
              src="{{ project.image }}"
              alt="{{ project.name}}" /></a
        ></span>
      </div>
      <div class="featured-second-col">
        <h3 class="mb-3">{{project.name}}</h3>
        <div class="mt-3">
          {% for tech in project.techs %}
          <span class="pill">{{ tech }}</span>
          {% endfor %}
        </div>
        <p class="mt-2">
          {{ project. description}}
        </p>
        <p>
          <a class="button button-small d-inline-block" href="{{ project.live }}">Project &raquo;</a>
          <a class="button button-small d-inline-block" href="{{ project.repo }}">Repo &raquo;</a>
        </p>
      </div>
    </div>
    {% endif %}
    {% endfor %}

        <div class="text-end"><a href="/projects" class="nav-link">More Projects &raquo;</a>
    </div>
  </div>
</div>
