<div class="featured-project-outer">
  <div class="container">
    <h2 class="mb-1 text-center">featured project</h2>
          <div class="featured-project mt-5">
        <div class="featured-first-col">
          <span class="post-image-rounded"><a href="https://heidi37.pythonanywhere.com/"><img width="1052" height="720" src="/static/images/let-do-brunch-title-768x526.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="let&#039;s do brunch logo and application name"  /></a></span>
        </div>
        <div class="featured-second-col">
          <h3>Let&#8217;s Do Brunch!</h3>
          <div class="mt-2">
            <span class="year-pill">2024</span>
            <span class="project-type">Web Application</span>
          </div>
          <p class="mt-2">
            This is my final project from the popular Harvard CS50 course taught by David Malan. The assignment was to build a working web application with&hellip;          </p>
          <p class="mt-2">
            <a href="http://heidi-wp-portfolio.local/projects/lets-do-brunch/">Learn more &raquo;</a>
          </p>
        </div>
      </div>
        <div class="text-end"><a href="/projects" class="nav-link">More Projects &raquo;</a>
    </div>
  </div>
</div>
